:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #192023;
}

main {
  width: 100%;
  min-height: 100dvh;
  text-align: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  border: 1px solid #b6b6b6;
}

main > section:nth-child(1) {
  flex: 1;
}

main > section:nth-child(2) {
  flex: 2;
}

header {
  font-size: medium;
  border: 1px solid #b6b6b6;
  border-radius: 1rem 1rem 0 0;
  padding-top: 1px;
  text-align: start;
  color: white;
  width: 100%;
}

aside {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-left: 1px solid #b6b6b6;
  border-right: 1px solid #b6b6b6;
  color: #e4e4e4;
}

aside h2 {
  color: #2beb6b;
}

aside ul {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

aside ul li {
  color: #858585;
}

footer {
  width: 100%;
  font-size: medium;
  border: 1px solid #b6b6b6;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  text-align: center;
  align-content: center;
  color: white;
}

h1 {
  color: #e4e4e4;
  margin: 2rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  font-size: large;
}
