:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: #e4e4e4;
}

body {
  margin: 0;
  padding: 0;
  background-color: #192023;
}

main {
  width: 100%;
  min-height: 100dvh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #b6b6b6;
}

header {
  font-size: medium;
  border: 1px solid #b6b6b6;
  border-radius: 1rem 1rem 0 0;
  padding-top: 1px;
  text-align: start;
  color: white;
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 1px solid #b6b6b6;
  border-right: 1px solid #b6b6b6;
  color: #e4e4e4;
  padding: 2rem;
  justify-content: center;
  width: 100%;
}

aside h2 {
  color: #2beb6b;
}

aside ul {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

aside ul li {
  color: #858585;
}

footer {
  width: 100%;
  font-size: medium;
  border: 1px solid #b6b6b6;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  text-align: center;
  align-content: center;
  color: white;
}

h1 {
  color: #e4e4e4;
  margin: 2rem;
}

.main-content {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr;
  font-size: large;
}

.fill {
  background: url("./assets/cat-pattern.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: none;
  opacity: 0.1;
  mask-image: linear-gradient(to top, #272727, transparent);
  -webkit-mask-image: linear-gradient(to top, #272727, transparent);
}

@media (width > 720px) {
  main {
    flex-direction: row;
  }

  main > section:nth-child(1) {
    flex: 1;
  }

  main > section:nth-child(2) {
    flex: 2;
  }

  .main-content {
    min-height: 100dvh;
  }

  .fill {
    display: block;
  }
}

@media (width > 1024px) {
  aside {
    padding: 2rem 1rem;
    justify-content: start;
  }
}
