:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #192023;
}

main {
  width: 100%;
  min-height: 100dvh;
  text-align: center;
  padding: 24px;
}

h1 {
  color: #e4e4e4;
  margin: 2rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 800px;
  padding: 1rem;
}
