.card {
  padding: 2rem;
  border-radius: 1rem;
  color: #e4e4e4;
  align-items: center;
  text-align: center;
  display: grid;
  align-content: start;
  gap: 0;
  width: 100%;
  padding-bottom: 4rem;
}

.card-header {
  margin-bottom: 1rem;
}

.card-header h2 {
  margin: 0;
  color: #2beb6b;
}

.card-body img {
  width: 100%;
  height: auto;
  min-height: 300px;
  object-fit: cover;
  border-radius: 2rem;
  padding: 1rem;
  max-width: 320px;
}

.card-footer {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-footer span {
  margin: 0;
  color: #2beb6b;
  font-weight: bold;
}

.card-footer button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 200px;
  height: 50px;
  background-color: #2beb6b;
  color: #192023;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-footer button:hover {
  background-color: #00ff55;
}

@media (width > 720px) {
  .card {
    padding-bottom: 2rem;
    align-content: start;
  }
}
