.random-gallery {
  border: 1px solid #e4e4e4;
  border-radius: 1rem;
  display: grid;
  width: 100%;
  padding: 2rem;
  height: 50%;
  grid-template-rows: minmax(120px, auto);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.gallery-item {
  width: 100%;
}

.gallery-item:nth-child(1) {
  grid-row: 1 / 3;
}

.gallery-item:nth-child(2) {
  grid-row: 1 / 2;
}

.gallery-item:nth-child(3) {
  grid-row: 1 / 5;
}

.gallery-item:nth-child(4) {
  grid-row: 3 / 5;
}

.gallery-item:nth-child(5) {
  grid-row: 2 / 5;
}

.gallery-item:nth-child(6) {
  grid-row: 5 / 7;
}

.gallery-item:nth-child(7) {
  grid-row: 5 / 7;
}

.gallery-item:nth-child(8) {
  grid-row: 5 / 7;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1rem;
  border-radius: 2rem;
}
