.layout-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px auto auto 120px;
  min-height: 100dvh;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

footer {
  grid-area: footer;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}

@media (width > 1024px) {
  .layout-container {
    grid-template-columns: 1fr 1fr 250px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
      "header header header"
      "main main aside"
      "footer footer footer";
  }
}
