<div class="container-inventory">
  <div class="categories-mobile">
    <div class="wrapper-categories-mobile" (click)="showFilters()">
      <ng-icon class="icon" name="biFunnel" />
      <p>{{ isFilterOpen ? "Cerrar Filtros" : "Filtrar" }}</p>
    </div>
  </div>
  <div [ngClass]="{ 'categories-display': isFilterOpen }" class="categories">
    <button (click)="resetAllFilters()">
      <ng-icon name="biTrash" /> Limpiar Filtros
    </button>
    @for (filterGroup of categoryFilters; track filterGroup.id) {
    <div class="select-wrapper">
      <ng-icon class="select-arrow-icon" name="biChevron" />
      <select
        class="select"
        [(ngModel)]="filterGroup.selectedValue"
        (ngModelChange)="searchForCategory(filterGroup.id)"
      >
        <option selected disabled value="">
          {{ filterGroup.placeholder }}
        </option>
        @for (option of filterGroup.options; track option.value) {
        <option [value]="option.value">{{ option.label }}</option>
        }
      </select>
    </div>
    }
  </div>
  <div class="search">
    <input
      class="form-control"
      type="text"
      placeholder="Buscar por skin..."
      name="title"
      #title="ngModel"
      [(ngModel)]="search"
      (ngModelChange)="searchChange()"
    />
    <label class="d-flex align-items-center justify-content-center"
      ><ng-icon name="biSearch"
    /></label>
    @if(title.touched && !title.valid){
    <span class="badge bg-danger">Campo título no válido.</span>
    }
  </div>
  <div class="pt-4 pb-4">
    @if (productListFiltered.length<=0) {
    <div class="pt-5 no-product">No se han encontrado productos...</div>
    } @else {
    <div class="container-cards">
      @for (product of displayedProducts; track product.id) {
      <div [className]="[ `card img-container card-${product.rareLevel}`]">
        <img class="img-fluid rounded img-product" [src]="product.img" />
        <div class="card-body">
          <div class="card-title">
            <p>
              <strong
                >{{
                  product.type.includes("knife")
                    ? "★"
                    : product.type.toLocaleUpperCase() + " |"
                }}
                {{ product.name }}
                {{ product.phase ? "P" + product.phase : "" }}</strong
              >
            </p>
          </div>
          <p>{{ product.exterior }}</p>
          <p>{{ product.float }}</p>
        </div>
        <div class="card-footer">
          <app-button
            [goTo]="product.inspect"
            classButton="btn btn-inventory d-flex align-items-center justify-content-center gap-1"
            ><ng-icon name="biSearch" /> Inspeccionar</app-button
          >
          <app-button
            [goTo]="product.chatWspUrl"
            classButton="btn btn-inventory-buy d-flex align-items-center justify-content-center gap-1"
            ><ng-icon class="icon" name="biCart" />Comprar</app-button
          >
        </div>
      </div>
      }
    </div>
    }
  </div>
  @if (productListFiltered.length > itemsPerPage) {
  <nav
    aria-label="Product Page navigation"
    class="pt-5 w-100 d-flex justify-content-center"
  >
    <ul class="container-pagination">
      <li
        class="page-item"
        (click)="prevPage()"
        [class.disabled]="currentPage === 1"
      >
        &laquo;
      </li>
      @for (page of pages; track page) {
      <li
        (click)="goToPage(page)"
        class="page-item"
        [class.active]="page === currentPage"
      >
        {{ page }}
      </li>
      }
      <li
        class="page-item"
        (click)="nextPage()"
        [class.disabled]="currentPage === totalPages"
      >
        &raquo;
      </li>
    </ul>
  </nav>
  }
</div>
