<div class="container-inventory">
  <h3>{{ titulo }}</h3>
  <div class="row">
    @if (productList.length<=0) {
    <div>Cargando listado...</div>
    } @else { @for (product of productList; track product.id) {
    <div class="col-lg-4">
      <div class="card img-container">
        @if (product.images) {
        <img class="img-fluid rounded img-product" [src]="product.images[0]" />
        } @else {
        <div class="img-filling"></div>
        }
        <div class="card-body">
          <strong>{{ product.title }}</strong>
          <p>${{ product.price }}</p>
        </div>
        <div class="card-footer">
          <app-button classButton="btn btn-inventory">Inspeccionar</app-button>
          <app-button classButton="btn btn-inventory-negative"
            >Comprar</app-button
          >
        </div>
      </div>
    </div>
    } }
  </div>
</div>
