<div class="col-lg-12 container-jumbotron">
  <div class="rounded jumbotron">
    <h3 id="title">VENDE O COMPRA SKINS DE CS2</h3>
    <p id="subtitle">Compramos tus skins al mejor precio del mercado.</p>
    <div class="pt-4 container-percent">
      <p id="percent">86-90%</p>
      <p id="pay">Pagos en Chile, Argentina y Brasil.</p>
    </div>
    <div class="container-buttons">
      <app-button routerLink="/productos" classButton="btn-buy"
        >TIENDA</app-button
      >
      <app-button routerLink="/productos/agregar" classButton="btn-sell"
        >VENDER</app-button
      >
    </div>
  </div>
</div>
