<div class="col-lg-12 rounded jumbotron">
  <div #hero>
    <h3 #title id="title">VENDE O COMPRA SKINS DE CS2</h3>
    <p #subtitle id="subtitle" class="pt-3">
      Compramos tus skins al mejor precio del mercado.
    </p>
    <div class="pt-4 container-pay">
      <p id="pay">Pagos en Chile, Argentina y Brasil.</p>
    </div>
    <div class="container-buttons pt-4">
      <app-button
        #inventoryBotton
        routerLink="/productos"
        classButton="btn-hero"
        >Revisa nuestro inventario</app-button
      >
    </div>
  </div>
  <div>
    <img
      #karambit
      id="kara-fade"
      src="assets/kara-fade.png"
      alt="Logo Skinopoly"
    />
  </div>
</div>
