p,h3{
  margin: 0;
}
.container-buttons{
  display: flex;
  gap: 25px;
}
.container-percent{
  #percent{
    line-height: 30pt;
  }
}
.jumbotron{
  position: relative;
  display: flex;
  justify-content: start;
  flex-direction: column;
  color: white;
  h3{
    font-size: 32pt;
    font-weight: 900;
  }
  #kara-fade{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  #subtitle{
    color: #724721;
    font-size: 12pt;
    font-weight: 900;
  }
  #percent{
    color: #bdb28b;
    font-size: 32pt;
    font-weight: 900;
  }
  #pay{
    font-size: 12pt;
    font-weight: 900;
  }
}
@media(min-width:400px){
  .jumbotron {
    h3{
      font-size: 50pt;
      font-weight: 900;
    }
    #subtitle{
      font-size: 16pt;
    }
    #percent{
      font-size: 50pt;
    }
    #pay{
      font-size: 16pt;
    }
  }
  .container-percent{
    #percent{
      line-height: 50pt;
    }
  }
  .container-buttons{
    gap: 36px;
  }
}
@media(min-width:720px){
  .jumbotron {
    padding-top: 12px;
    h3{
      font-size: 80pt;
    }
    #subtitle{
      font-size: 24pt;
    }
    #percent{
      font-size: 80pt;
    }
    #pay{
      font-size: 24pt;
    }
  }
  .container-percent{
    padding-top: 4rem !important;
    #percent{
      line-height: 70pt;
    }
  }
  .container-buttons{
    padding-top: 3rem !important;
  }
}
@media(min-width:1280px){
  .jumbotron {
    padding-top: 0px;
    h3{
      font-size: 100pt;
    }
    #subtitle{
      font-size: 24pt;
    }
    #percent{
      font-size: 100pt;
    }
    #pay{
      font-size: 24pt;
    }
  }
  .container-percent{
    #percent{
      line-height: 110pt;
    }
  }
}

/*Media Querys de imagen de cuchillo */
@media(min-width:1400px){
  .jumbotron{
    #kara-fade{
      bottom: -16px;
      display: block;
    }
  }
}
@media(min-width:1600px){
  .jumbotron{
    #kara-fade{
      display: block;
      top: 0;
    }
  }
}

