#content{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #17120a;
  overflow: hidden;
  padding: 0px 16px 0px 16px ;
}
@media(min-width:720px){
  #content{
    padding: 0px 24px 0px 24px;
  }
}
