#nav {
  display: none;
}
#nav ul {
  margin: 0 !important;
  padding: 0;
  display: flex;
  gap: 20px;
  list-style: none;
}
#nav ul li a {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  height: 32px;
  line-height: 24px;
  text-decoration: none;
  color: #ffd7c3;
}
#nav ul li a:hover {
  transition: color 0.5s ease-out;
  color: #fce6da;
}
.active {
  border-bottom: 3px solid #ff3c00;
}

@media (min-width: 720px) {
  #nav {
    display: block;
  }
}
