---

---
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<style>
    nav {
        background-color: #423163;
    }
    nav ul {
        list-style: none;
        display: flex;
        justify-content: start;
        gap: 2rem;
        padding: 1rem;
        color: white;
    }
    nav ul li a{
        text-decoration: none;
        font-style: normal;
        color: white;
    }
</style>