#footer {
  position: relative;
  color: #ffd7c3;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    margin: 0;
    text-align: center;
  }
  .logo-footer {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    img {
      opacity: 0.9;
      top: -53px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 70px;
      height: 60px;
    }
  }
}

@media (min-width: 720px) {
  #footer {
    .logo-footer {
      display: block;
    }
  }
}
