<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
  <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>
  <a [routerLink]="['/empleado']" [routerLinkActive]="['active']">Empleado</a>
  <a [routerLink]="['/frutas']" [routerLinkActive]="['active']">Fruta</a>
  <a [routerLink]="['/coches']" [routerLinkActive]="['active']">Coches</a>
  <a [routerLink]="['/plantillas']" [routerLinkActive]="['active']"
    >Plantillas</a
  >
</nav>
<main class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
